<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" action="@Url.Action("FindedPassword", "Login")" enctype="multipart/form-data">
        <div>
            <label>ID</label>
            <input type="text" name="userId" />
        </div>
        <button type="submit">探す</button>
    </form>
</body>
</html>