<!DOCTYPE html>
@*https://localhost:44376/Login/FindId*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" action="@Url.Action("FindedId", "Login")" enctype="multipart/form-data">
        <div>
            <label>お名前</label>
            <input type="text" name="name"/>
            <label>生年月日</label>
            <input type="date" name="birth" />
        </div>
        <button type="submit">探す</button>
    </form>
</body>
</html>