<!DOCTYPE html>
@*https://localhost:44376/Login/FindId*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <label>お名前</label>
        <input type="text" />
        <label>生年月日</label>
        <input type="text" />
    </div>

    <input type="button" value="探す" />
</body>
</html>