<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form>

        <div>
            <label>「」様の</label>
            <label>パスワードは「」です。</label>
        </div>

        <input type="button" value="ログインする" />

    </form>
</body>
</html>