<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form>

        <div>
            <label>ID</label>
            <input type="text" />
        </div>

        <input type="button" value="探す" />

    </form>
</body>
</html>