<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h3>@ViewBag.Message</h3>

    <button onclick="window.location.href='https://localhost:44376/Login/Index'"> ログインする </button>
</body>
</html>