<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form>

        <div>
            <input type="text" placeholder="IDを入力してください。" />
            <input type="text" placeholder="パスワードを入力してください。" />
        </div>

        <div>
            <a href="https://localhost:44376/Login/FindId">IDを探す / </a>
            <a href="https://localhost:44376/Login/FindPassword">PWを探す</a>
        </div>

        <input type="button" value="ログイン" />

    </form>

    <hr />

    <div>
        <label> 会員登録する</label>
        <button onclick="window.location.href='https://localhost:44376/Login/UserAccountInfo'"> 会員登録 </button>
        <input type="button" value="Googleアカウントで登録" />
    </div>


    <div>
        @foreach (var item in Model.Rows)
        {
            <input id="id" class="selectBox" type="text" name="id" value="@item["UserId"]" />
            <input id="id" class="selectBox" type="text" name="id" value="@item["Password"]" />
        }
    </div>
</body>
</html>