<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" action="@Url.Action("Login", "Home")" enctype="multipart/form-data">
        <div>

            <div>
                <input type="text" placeholder="IDを入力してください。" name="userId" />
                <input type="text" placeholder="パスワードを入力してください。" name="password" />
            </div>

            <div>
                <a href="https://localhost:44376/Login/FindId">IDを探す / </a>
                <a href="https://localhost:44376/Login/FindPassword">PWを探す</a>
            </div>
        </div>

            <button type="submit">ログイン</button>

    </form>

    <hr />

    <div>
        <label> 会員登録する</label>
        <button onclick="window.location.href='https://localhost:44376/Login/UserAccountInfo'"> 会員登録 </button>
        <input type="button" value="Googleアカウントで登録" />
    </div>
</body>
</html>