<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/CSS/Display.css">
    <link rel="stylesheet" href="~/Content/CSS/Style.css">
</head>
<body>
    <div class="aligned_center">
        <form method="post" action="@Url.Action("Login", "Home")" enctype="multipart/form-data">
            <div>
                <div class="login_margin">
                    <input type="text" class="login_text" placeholder="IDを入力してください。" name="userId" />
                </div>
                <div class="login_margin">
                    <input type="text" class="login_text" placeholder="パスワードを入力してください。" name="password" />
                </div>

                <div class="login_find">
                    <a href="https://localhost:44376/Login/FindId">IDを探す / </a>
                    <a href="https://localhost:44376/Login/FindPassword">PWを探す</a>
                </div>
            </div>

            <button type="submit" class="login_button">ログイン</button>

        </form>

        <hr class="hr_length" />

        <div>
            <div class="login_margin">
                <label > 会員登録する</label>
            </div>
            <div class="login_margin">
                <button onclick="window.location.href='https://localhost:44376/Login/UserAccountInfo'"> 会員登録 </button>
            </div>
            <div class="login_margin">
                <input type="button" value="Googleアカウントで登録" />
            </div>
        </div>
    </div>
</body>
</html>